[submodule "OpenGLCore/vendor/glfw"]
	path = OpenGLCore/vendor/glfw
	url = https://github.com/Radule614/glfw
[submodule "OpenGLCore/vendor/spdlog"]
	path = OpenGLCore/vendor/spdlog
	url = https://github.com/Radule614/spdlog
[submodule "OpenGLCore/vendor/glm"]
	path = OpenGLCore/vendor/glm
	url = https://github.com/Radule614/glm
[submodule "OpenGLCore/vendor/imgui"]
	path = OpenGLCore/vendor/imgui
	url = https://github.com/Radule614/imgui
[submodule "VoxelEngine/vendor/JoltPhysics"]
	path = VoxelEngine/vendor/JoltPhysics
	url = https://github.com/Radule614/JoltPhysics
